 body {
    background-color: beige;
    text-align: center;
    font-family:cursive;
            }

.aboutme p{
    padding-top: 15px;
    background-color: burlywood;
    text-align: center;
    display: inline-block;
    width: 700px;
    height: 770px;
    padding-bottom: 15px;
}
#aboutmeimg{
    padding: 13px;
}

h1{
    font-size: normal;
    font-size: 36px;
            }
.nav a{ 
    margin: 55px;
    font-family:cursive;
    text-decoration: none;
    color: #182232;
                
            }
.nav{
    margin-top: -1%;
    width: 100%;
    border: 2px solid #353E2E;
    background-color: burlywood;
            }
.title{
    font-size: 40px;
        }
.gallary_section{
    background-color: bisque;
    border: 5px solid #A27C77;
    margin-bottom: 2%;
    border-width: medium;  
    max-width: 33%;
    display: inline-block;
        
        }
.gallary_section img{
    max-width: 350px;
    border: 2px solid burlywood;
    border-radius: 4px;
    padding: 5px;
    background-color: burlywood;
}
.socialcause_gallary{
     max-width: 67%;
}
.socialcause_gallary img{
    max-width: 700px;
}
.audio{
    max-width: 100%;
        
}
.gallary_section p{
    margin: 2%;
    background-color: aliceblue;
    
        
}

.main_section img{
    width: 550px;
    height: 550px;
    padding-top: 10px;
   
}

.main_section h3{
    font-size: 22px;
    margin-top: 30%;
    
}
.main_section{
    display: inline-block;
    background-color: #A27C77;
    height: 645px;
    width: 600px;
     text-align: center;
    
    
}
 .main_section iframe{
     width: 550px;
    height: 550px;
        
    }


#animationjs{
    width: 350px;
    height: 324px;
    border: 2px solid burlywood;
    border-radius: 4px;
    padding: 5px;
    background-color: burlywood;
}
.abmeimg {
    margin-top: 2%;
    margin-left: 7%;
    display: block;
    width: 600px;
    height: 600px;
    
}
/*----------social cause---------*/
#sc_heading{
    margin-top: 2%;
    margin-left: 7%;
    display: block;
    width: 650px;
    height: 450px;
}
#socialcausep{
    background-color: burlywood;
    text-align: left;
    display: inline-block;
    width: 750px;
    height: 790px;
    padding: 1%;
}
.links{
    margin-top: 2%
}
.links h3{
    margin-bottom: -0.2%
}
/*---------footer-----------*/
footer{
    border-top: 2px solid #182232;
    margin-top: 110px;
}
